@{
    ViewData["Title"] = "Home Page";
}

<head>
	<title>Jmail - Strona Główna</title>
	<style>
		body {
			background-color: #f2f7fb;
			font-family: Arial, sans-serif;
			margin: 0;
		}
		
		.container {
			max-width: 800px;
			margin: 0 auto;
			padding: 30px;
			background-color: #fff;
			box-shadow: 0 0 10px rgba(0,0,0,.1);
			border-radius: 10px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 100vh;
		}
		
		h1 {
			font-size: 36px;
			font-weight: 700;
			margin-bottom: 30px;
			color: #005580;
		}
		
		p {
			font-size: 18px;
			line-height: 1.5;
			color: #333;
			margin-bottom: 20px;
			text-align: center;
		}
		
		a {
			color: #005580;
			text-decoration: none;
			font-weight: 700;
		}
	</style>
</head>
<body>
	
		<h1>Jmail</h1>
		<p>Witaj w Jmail, Twojej aplikacji mailowej.</p>
		<p>Tutaj możesz wysyłać i odbierać e-maile, zarządzać skrzynką odbiorczą i wiele więcej.</p>
		<p>Jeśli potrzebujesz pomocy, skontaktuj się z <a href="#">naszym działem obsługi klienta</a>.</p>

</body>

