* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v7_2 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v7_170 {
  width: 400px;
  height: 600px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 252px;
  left: 520px;
  overflow: hidden;
}
.v7_144 {
  width: 400px;
  height: 600px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 3px solid rgba(34,208,246,1);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v7_171 {
  width: 180px;
  height: 30px;
  
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 417px;
  left: 113px;
  overflow: hidden;
}
.v7_172 {
  width: 180px;
  height: 30px;
  background: rgba(34,208,246,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v7_173 {
  width: 177px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1px;
  left: 1px;
  font-family: Inter;

  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v7_166 {
  width: 287px;
  height: 65px;
 
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 277px;
  left: 57px;
  overflow: hidden;
}
.v7_146 {
  width: 287px;
  height: 65px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(34,208,246,1);
}
.v7_160 {
  width: 285px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 2px;
  font-family: Inter;
 
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v7_169 {
  width: 180px;
  height: 30px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 225px;
  left: 112px;
  overflow: hidden;
}
.v7_161 {
  width: 180px;
  height: 30px;
  background: rgba(34,208,246,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v7_164 {
  width: 177px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1px;
  left: 1px;
  font-family: Inter;

  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v7_167 {
  width: 287px;
  height: 65px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 137px;
  left: 59px;
  overflow: hidden;
}
.v7_145 {
  width: 287px;
  height: 65px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(34,208,246,1);
  overflow: hidden;
}
.v7_149 {
  width: 285px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;

  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v7_168 {
  width: 180px;
  height: 30px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 84px;
  left: 110px;
  overflow: hidden;
}
.v7_163 {
  width: 180px;
  height: 30px;
  background: rgba(34,208,246,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v7_165 {
  width: 177px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 3px;
  font-family: Inter;

  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v7_3 {
  width: 100%;
  height: 60px;
 
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 8px;
  overflow: hidden;
}
.v7_4 {
  width: 100%;
  height: 60px;
  background: rgba(33,208,246,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v7_177 {
  width: 46px;
  height: 46px;
  background: url("../images/v7_177.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 1360px;
  overflow: hidden;
}
.v7_6 {
  width: 42px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 1295px;
  overflow: hidden;
}
.v7_7 {
  width: 35px;
  height: 33px;

  opacity: 1;
  position: absolute;
  top: 3px;
  left: 4px;
  border: 1.5px solid rgba(0,0,0,1);
}
.v7_8 {
  width: 12px;
  height: 11px;

  opacity: 1;
  position: absolute;
  top: 25px;
  left: 27px;
  border: 1.5px solid rgba(0,0,0,1);
}
.v7_9 {
  width: 14px;

  opacity: 1;
  position: absolute;
  top: 18px;
  left: 14px;
  border: 2px solid rgba(0,0,0,1);
}
.v7_10 {
  width: 162px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 12px;
  left: 631px;
  font-family: Inter;

  font-size: 30px;
  opacity: 1;
  text-align: center;
}
